*{box-sizing: border-box;}
main{
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;
}

header{
  background-color: rgb(27, 248, 93);
  flex: 1 1 100%;
 
}
article{
  background-color: rgba(214, 184, 147, 0.952);
  flex: 1 1 300px;

}
aside{
  background-color: rgba(236, 183, 192, 0.44);
  flex: 0 0 250px;
}

footer{
  background-color: orange;
  flex: 1  1 100%;
}
.lorem-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  background-color: rgba(0, 255, 255, 0.136);
}
.box-0{
  max-width: 150px;
  margin: 10px;
}
.box-1{
  max-width: 150px;
  margin: 10px;
}
.box-2{
  max-width: 150px;
  margin: 10px;
}
.box-3{
  max-width: 150px;
  margin: 10px;
}